doctype html
html
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    link(rel='stylesheet' href='/assets/css/index.css')
    title JM test
  body
    .index
      .index__content
        .index__content-photo
          include ../../blocks/index-logo/index-logo
        .index__content-form
          include ../../layouts/reg-form/reg-form
