include ../../blocks/social-button/social-button
include ../../blocks/form-input/form-input
include ../../blocks/form-radiobutton/form-radiobutton
include ../../blocks/form-checkbox/form-checkbox
include ../../blocks/form-submit/form-submit

include ./reg-form-data

form.reg-form
  .reg-form__content
    .reg-form__content-tittle
      h1.reg-form__content-tittle-main Get iintoo it today
      p.reg-form__content-tittle-sub There is no charge or obligation under registration.
    .reg-form__content-social-buttons
      each button in buttons
        .reg-form__content-social-buttons-item
          +social-button(button)
    .reg-form__content-separator
      .reg-form__content-separator-content
        .reg-form__content-separator-line
        .reg-form__content-separator-label or
        .reg-form__content-separator-line
    .reg-form__content-inputs
      each input in inputs
        .reg-form__content-inputs-item
          +form-input(input)
    .reg-form__content-investor-types
      h2.reg-form__content-investor-types-title-main What type of investor are you?
      p.reg-form__content-investor-types-title-sub Select the type of investor you are bellow
      .reg-form__content-investor-types-items
        each investorType in investorTypes
          .reg-form__content-investor-types-items-item
            +form-radiobutton(investorType)
      .reg-form__content-investor-types-hint I am a natural person investing on my own behalf as a sole owner, joint tenant, or tenant in common.
    .reg-form__content-confirm
      +form-checkbox(checkbox)
    .reg-form__content-submit
      +form-submit(submit)

