include ../../blocks/social-button/social-button
include ./reg-form-data
.reg-form
  .reg-form__content
    .reg-form__content-tittle
      h1.reg-form__content-tittle-main Get iintoo it today
      p.reg-form__content-tittle-sub There is no charge or obligation under registration.
    .reg-form__content-social-buttons
      each button in buttons
        .reg-form__content-social-buttons-item
          +social-button(button)
    .reg-form__content-separator
      .reg-form__content-separator-content
        .reg-form__content-separator-line
        .reg-form__content-separator-label or
        .reg-form__content-separator-line

