.reg-form
  .reg-form__content
    .reg-form__content-tittle
      h1.reg-form__content-tittle-main Get iintoo it today
      p.reg-form__content-tittle-sub There is no charge or obligation under registration.
    .reg-form__content-social-buttons
      .reg-form__content-social-buttons-item
      .reg-form__content-social-buttons-item
