-
  const buttons = [
    {
      icon: 'assets/img/facebook.svg',
      label: 'Register with Facebook',
      backgroundColor: '#255A9B',
    },
    {
      icon: 'assets/img/linkedin.svg',
      label: 'Register with Linkedin',
      backgroundColor: '#0076B6',
    },
  ];

  const inputs = [
    {
      label: 'Email',
      type: 'text',
      value: 'gos.goodwin@gmail.com',
      isActive: true,
    },
    {
      label: 'Phone',
      type: 'text',
    },
  ];
