@import '../../../assets/scss/utils/helpers';
@import '../../../assets/scss/utils/vars';

.reg-form {
  &__content {
    &-tittle {
      &-main {
        font-size: 1.8em;
      }

      &-sub {
        color: $subFontColor;
        font-size: 1.2em;
      }
    }


    &-social-buttons {
      margin-top: em(55);
      margin-left: em(2);
      max-width: em(527);
      display: flex;
      justify-content: space-between;

      &-item {
        width: em(246);
        height: em(42);
      }
    }


    &-separator {
      margin-top: em(51);
      display: flex;
      justify-content: center;

      &-content {
        max-width: em(249);
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 13% 1fr;
        align-items: center;
      }

      &-line {
        height: 1px;
        width: 100%;
        background-color: #E5E5E5;
      }

      &-label {
        font-size: em(12);
        text-transform: uppercase;
        display: flex;
        justify-content: center;
      }
    }


    &-inputs {
      display: flex;
      margin-top: em(46);
      justify-content: space-between;

      &-item {
        width: em(248);
      }
    }

    &-investor-types {
      margin-top: em(59);
      &-title {
        &-main {
          font-size: em(21);
          letter-spacing: 0.2px;
        }

        &-sub {
          font-size: em(14);
          margin-top: em(15);
          color: $subFontColor
        }
      }

      &-items {
        max-width: em(486);
        margin-top: em(49);
        display: flex;
        justify-content: space-between;
      }

      &-hint {
        margin-top: 1.8em;
        margin-left: em(5);
        padding: em(10);
        box-shadow: 0 0 em(20) rgba(157, 171, 187, 0.5);
        border-radius: em(3);
        width: 18.21em;
        height: 5.3em;
        font-size: em(14);
        color: #9dabb4;
      }


    }
    &-confirm {
      margin-top: em(44);
      margin-left: 1px;
    }

    &-submit {
      margin-top: em(60);
      margin-left: em(2);
    }

  }
}
