@import '../../../assets/scss/utils/helpers';
$themeFbColor: #255A9B;
$themeLdColor: #0076B6;

@mixin theme($name, $color) {
  &_theme_#{$name} {
    border-color: $color;
    background-color: $color;
  }

  &_theme_#{$name}:hover {
    color: $color;
  }

  &_theme_#{$name}:hover svg {
    fill: $color;
  }
}

.social-button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  color: white;

  @include theme('fb', $themeFbColor);
  @include theme('ld', $themeLdColor);

  &:hover {
    background-color: white;
  }

  &__icon {
    width: 20%;
    display: flex;
    padding: em(8) 0;
    justify-content: center;
    align-items: center;
  }

  &__icon-img svg{
    height: em(20);
    width: auto;
    fill: white;
  }

  &__label {
    align-items: center;
    display: flex;
    padding-left: 0;
    font-size: em(14);
  }
}
