mixin social-button(options)
  -
    const {
      label,
      icon,
      backgroundColor = '',
      theme = 'fb',
    } = options;

    let classTheme = '';
    if (theme === 'fb' || theme === 'ld') {
      classTheme = `social-button_theme_${theme}`;
    }

  button.social-button(class=classTheme)
    .social-button__icon
      .social-button__icon-img
        !=icon
    .social-button__label
      =label
